/* ========================================
   BUTTON BASE
   ======================================== */

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0 auto;

  padding: 12px;
  height: 45px;
  width: fit-content;
  

  border-radius: 8px;
  border: 1px solid transparent;

  font-family: var(--font-family-base);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-medium);
  text-decoration: none;

  cursor: pointer;
}

.button:disabled,
.button.is-disabled {
  opacity: var(--button-disabled-opacity);
  cursor: not-allowed;
  pointer-events: none;
}

/* ========================================
   BUTTON ICON
   ======================================== */

.button__icon {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  fill: currentColor;
  stroke: currentColor;
}

/* ========================================
   BUTTON: PRIMARY
   ======================================== */

/* Default */
.button--primary {
  background: var(--button-primary-bg);
  color: var(--button-primary-text);
  border-color: var(--button-primary-border);
}

/* Hover */
.button--primary:hover {
  background: var(--button-primary-bg-hover);
}

/* Selected */
.button--primary.is-selected {
  background: var(--button-primary-bg-selected);
}

/* ========================================
   BUTTON: SECONDARY
   ======================================== */

/* Default */
.button--secondary {
  background: var(--button-secondary-bg);
  color: var(--button-secondary-text);
  border-color: var(--button-secondary-border);
}

/* Hover */
.button--secondary:hover {
  color: var(--button-secondary-text-hover);
  border-color: var(--button-secondary-border-hover);
}

/* Selected */
.button--secondary.is-selected {
  color: var(--button-secondary-text-selected);
  border-color: var(--button-secondary-border-selected);
}

/* ========================================
   BUTTON: GHOST
   ======================================== */

/* Default */
.button--ghost {
  background: var(--button-ghost-bg);
  color: var(--button-ghost-text);
  border-color: transparent;
}

/* Hover */
.button--ghost:hover {
  color: var(--button-ghost-text-hover);
}

/* Selected */
.button--ghost.is-selected {
  color: var(--button-ghost-text-selected);
}

/* ========================================
   BUTTONS (mobile)
   ======================================== */

@media (max-width: 768px) {
  .button {
    width: auto;
    min-width: 0;
    height: 37px;
    padding: 8px;
    gap: 10px;

    border-radius: 6px;
    font-size: var(--font-size-button);
  }

  .button__icon {
    width: 20px;
    height: 20px;
  }
}
